@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply bg-stone-50 text-stone-900;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  * {
    @apply border-stone-200/80;
  }
}

@layer utilities {
  .gradient-mask {
    mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  }
}
